/*insert style here*/
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title-bar {
    width: 95%;
    height: 80px;
    Background: black;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.title-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(90deg, #bdc9e1, #74a9cf, #045a8d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 50px;
    text-align: center; 
    margin-top: 10px; 
}

#left-panel{
    width: 15%;
    height: 88vh;
    background: black;
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;

}

#map { 
    height: 88vh;
    width: 75%;
    display: inline-block;
    margin-right: 10px;
}